.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 88px;

  img {
    width: 400px;
  }

  &__label {
    margin-top: 24px;
    font-size: 32px;
    color: #383838;
  }

  &__button {
    margin-top: 24px;
  }
}
