.input {
  width: 100%;
  margin-bottom: 4px;
  padding: 8px 16px;
  font-size: 18px;
  outline: none;
  background-color: #EBF7FE;
  border: 1px solid #75C7FA;
  border-radius: 4px;
  color: #363636;

  &--error {
    color: #ff4110;
    border-color: #ff4110;
  }
}

.under-text {
  margin-left: 8px;

  &--error {
    color: #ff4110;
  }
}

.input, .under-text {
  transition:
          color 0.3s ease-in-out,
          border-color 0.3s ease-in-out;
}


@media (max-width: 500px) {
  .input {
    font-size: 14px;
  }
}