.input {
  margin-bottom: 4px;
  padding: 8px 8px;
  font-size: 20px;
  outline: none;
  border: 2px solid #1f1f1f;
  border-radius: 8px;
  color: #1f1f1f;

  &--error {
    color: #ff4110;
    border-color: #ff4110;
  }
}

.under-text {
  margin-left: 8px;

  &--error {
    color: #ff4110;
  }
}

.input, .under-text {
  transition:
          color 0.3s ease-in-out,
          border-color 0.3s ease-in-out;
}