.select {
  margin-top: 16px;
  width: 100%;
  padding: 8px 16px;
  font-size: 18px;
  outline: none;
  background-color: #EBF7FE;
  border: 1px solid #75C7FA;
  border-radius: 4px;
  color: #363636;
}

@media (max-width: 500px) {
  .select {
    font-size: 14px;
  }
}
