.select {
  margin-top: 16px;
  width: 100%;
  padding: 8px 16px;
  font-size: 18px;
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #363636;
  background-color: #fff;
}

@media (max-width: 500px) {
  .select {
    font-size: 14px;
  }
}
