.burger-menu {
  position: absolute;

  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);

  opacity: 0;
  z-index: 200;
  pointer-events: none;

  &--shown {
    opacity: 1;
    pointer-events: all;
  }

  & > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.burger-nav {
  &__item {
    display: flex;

    .item {
      &__link {
        text-decoration: none;
        color: #333;
        font-size: 20px;
      }

      &__btn {
        width: 20px;
        height: 20px;
      }

      &__sublinks {
        margin-top: 24px;
        margin-left: -60px;
        max-width: 200px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 4px;

        & li a {
          text-decoration: none;
          color: #333;
          font-size: 16px;
        }
      }
    }
  }
}
