.burger-menu {
  position: fixed;

  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(255, 224, 204, 1);

  opacity: 0;
  z-index: 200;
  pointer-events: none;

  &--shown {
    opacity: 1;
    pointer-events: all;
  }

  & > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.burger-nav {
  &__item {
    display: flex;
    justify-content: space-between;

    background-color: rgba(255, 193, 167, 1);
    padding: 8px 16px;

    .item {
      &__link {
        text-decoration: none;
        color: #333;
        font-size: 20px;
      }

      &__btn {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;

        &--up-arrow {
          background-image: url("./images/up-arrow.png");
        }

        &--down-arrow {
          background-image: url("./images/down-arrow.png");
        }
      }

      &__sublinks {
        margin-top: 32px;
        margin-left: -60px;
        max-width: 200px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;

        & li a {
          text-decoration: none;
          color: #333;
          font-size: 20px;
        }
      }
    }
  }
}

body:has(.burger-menu--shown) {
  height: 100%;
  overflow: hidden;
}
