.protocols-heading {
  margin-top: 64px;
  margin-bottom: 48px;
  text-align: center;
}

.links-to-documents {
  padding-top: 48px;
}

.link {
  padding: 24px;
  box-shadow: 0 0 2px #000;
  border-radius: 8px;
  background-color: #EBF7FE;

  &__label {
    margin-bottom: 16px;
    padding: 0 48px;
    font-weight: bold;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 24px;

  p {
    font-size: 24px;
  }
}