.sub-nav {
  box-sizing: content-box;
  position: absolute;
  top: 40px;
  left: -24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 100%;
  gap: 24px;
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 .5em 1em -.125em #0a0a0a1a,0 0 0 1px #0a0a0a05;

  &__link {
    font-size: 18px;
    text-decoration: none;
    color: #1f1f1f;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}