* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor: url("./assets/cursors/cursor-dog.png") 16 0, auto;
}

html {
  height: 100%;

}

body {
  display: flex;
  min-height: 100vh;
  /*background: #C7E7FD;*/
  background: #fff2eb;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  padding: 120px 40px 24px;
  width: 960px;
  margin: 0 auto;
  background-color: #ffe5d6;
}

@media (max-width: 960px) {
  .main {
    width: 100%;
  }
}

.header, .footer {
  background-color: #ffc5a3;
}