* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor: url("./assets/cursors/cursor-dog.png"), auto;
}

html {
  height: 100%;

}

body {
  display: flex;
  min-height: 100vh;
  /*background: #C7E7FD;*/
  background: #fff2eb;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  padding: 120px 40px 24px;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .main {
    max-width: 1000px;
  }
}

.header, .footer {
  background-color: #ffc5a3;
}