.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100px;
  margin-top: auto;
  padding: 0 48px;

  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
}