.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 960px;
  height: 100px;
  margin: auto auto 0;
  padding: 0 48px;

  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
}

.author {
  color: #333333;

  &__link {
    color: #1f1f1f;
  }
}

@media (max-width: 960px) {
  .footer {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .footer {
    justify-content: center;
  }

  .author {
    display: none;
  }
}

@media (max-width: 510px) {
  .footer {
    padding: 0 24px;

    .nav__links {
      gap: 16px;
      font-size: 18px;
    }
  }
}